.header {
    padding-bottom: 136px;
}

.header__title {
    font-weight: 700;
    font-size: 4.375rem;
    line-height: 1em;
}

.header__description {
    width: 433px;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.21em;
}

.header__button {
    width: 367px;
}