// === mixins ===
@import "../_mixins.scss";

// === header ===
.header {
  padding-bottom: 136px;

  &__title {
    @include font(700, 4.375rem, 1em);
  }
  &__description {
    width: 433px;
    @include font(400, 1.25rem, 1.21em);
  }
  &__button {
    width: 367px;
  }
}
