<header class="header">
  <div class="container">
    <a href="#" class="logo">Qeeb</a>
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Explore</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Collections</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Creators</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Blog</a>
        </li>
      </ul>
    </nav>
    <a href="#" class="btn header__btn">Connect Wallet</a>
    <a href="#" class="burger">
      <div class="burger__line"></div>
      <div class="burger__line"></div>
      <div class="burger__line"></div>
    </a>
  </div>
</header>
<main class="main"></main>
<footer class="footer">
  <div class="container"></div>
</footer>
