<!-- meta tags -->
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ title }}</title>

<!-- styles -->

<link rel="preconnect" href="https://fonts.googleapis.com" /><link
  rel="preconnect"
  href="https://fonts.gstatic.com"
  crossorigin
/><link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Red+Hat+Display:wght@500;600&family=Red+Rose:wght@400;700&display=swap"
  rel="stylesheet"
/>

<link rel="stylesheet" href="assets/css/style.min.css" />
<link
  rel="stylesheet"
  href="assets/css/adaptive/sm.min.css"
  media="(min-width: 576px)"
/>
<link
  rel="stylesheet"
  href="assets/css/adaptive/md.min.css"
  media="(min-width: 768px)"
/>
<link
  rel="stylesheet"
  href="assets/css/adaptive/lg.min.css"
  media="(min-width: 992px)"
/>
<link
  rel="stylesheet"
  href="assets/css/adaptive/xl.min.css"
  media="(min-width: 1200px)"
/>
